
table.tab {font-size:14px;color:#333333;width:100%;border-width: 1px;border-color: #DA0014;border-collapse: collapse;}
table.tab th {
    font-size: 16px;
    background-color: #677077;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #677077;
    text-align: center;
    color: #fff;}
table.tab tr {}
table.tab td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #677077;}


table.blank {font-size:14px;color:#333333;width:100%;border-width: 0px;border-color: #9dcc7a;border-collapse: collapse;}
table.blank th {font-size:14px;background-color:#abd28e;border-width: 0px;padding: 8px;border-style: solid;border-color: #9dcc7a;text-align:left;}
table.blank tr {}
table.blank td {font-size:14px;border-width: 0px;padding: 8px;border-style: solid;border-color: #9dcc7a;}

.sbmt{
    background-color: #ffa800;
    border-color: #ffa800;
    padding: 10px;
    width: 16%;
    color: #fff;
}
.inpts{
    padding: 10px;
    outline: none;
}

#placeforstatus {
    color: #000 !important;
    width: 100%;
    height: auto;
    text-align: center !important;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    background-size: 128px 128px;
}
#placeforstatus:img {
    opacity: 0.1;
}
.btc_form {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
.btc_form a {
    color: #000;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 20px;
    font-style: normal;
    pointer-events: none;
    cursor: default;
}
